@font-face {
    font-family: "Klinic Slab Medium";
    src: url("KlinicSlabMedium.eot"); /* IE9 */
    src: url("KlinicSlabMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("KlinicSlabMedium.woff") format("woff"), /* chrome, firefox */
    url("KlinicSlabMedium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("KlinicSlabMedium.svg#Klinic Slab Medium") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


