@font-face {
    font-family: "Slabo 13px";
    src: url("Slabo13px-Regular.eot"); /* IE9 */
    src: url("Slabo13px-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Slabo13px-Regular.woff") format("woff"), /* chrome, firefox */
    url("Slabo13px-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Slabo13px-Regular.svg#Slabo 13px") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


