$font-lato: 'Lato', sans-serif;
$font-open: 'Open sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
//$font-monarcha: 'Monarcha W01 Book', serif;
//$font-monarcha: 'Noticia Text', serif;
//$font-monarcha: 'Taviraj', serif;
//$font-monarcha: 'Noto Serif', serif;
$font-monarcha: 'David Libre', serif;
$font-helve: 'helvetica_neueregular', Helvetica Neue, Helvetica, Arial, sans-serif;
$font-awesome: normal normal normal 16px/1 FontAwesome;

$font-regular: 'Klinic Slab Book', Helvetica, Arial, sans-serif;
$font-medium: 'Klinic Slab Medium', Helvetica, Arial, sans-serif;
$font-light: 'Klinic Slab Light', Helvetica, Arial, sans-serif;
$font-raleway: 'Raleway', Helvetica, Arial, sans-serif;
$font-raleway-light: 'Raleway Light', Helvetica, Arial, sans-serif;


$color-red: #F15A24;
$color-yellow: #F5C616;
$color-blue: #2196f3;
$color-blue-chill: #119b9b;
$color-orange: #fdba31;
$color-green: #439D4B;
$color-persian-green: #00A79D;
$color-cardinal: #d3232a;
$color-jaffa: #f47933;
$color-sunglow: #fdba31;
$color-gray: #86939e;


$icons-layout:smart;
$grid:30px;
