$font-lato: 'Lato', sans-serif;
$font-open: 'Open sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
//$font-monarcha: 'Monarcha W01 Book', serif;
//$font-monarcha: 'Noticia Text', serif;
//$font-monarcha: 'Taviraj', serif;
//$font-monarcha: 'Noto Serif', serif;
$font-monarcha: 'David Libre', serif;
$font-helve: 'helvetica_neueregular', Helvetica Neue, Helvetica, Arial, sans-serif;
$font-awesome: normal normal normal 16px/1 FontAwesome;

$font-regular: 'Klinic Slab Book', Helvetica, Arial, sans-serif;
$font-medium: 'Klinic Slab Medium', Helvetica, Arial, sans-serif;
$font-light: 'Klinic Slab Light', Helvetica, Arial, sans-serif;
$font-raleway: 'Raleway', Helvetica, Arial, sans-serif;
$font-raleway-light: 'Raleway Light', Helvetica, Arial, sans-serif;


$color-red: #F15A24;
$color-yellow: #F5C616;
$color-blue: #2196f3;
$color-blue-chill: #119b9b;
$color-orange: #fdba31;
$color-green: #439D4B;
$color-persian-green: #00A79D;
$color-cardinal: #d3232a;
$color-jaffa: #f47933;
$color-sunglow: #fdba31;
$color-gray: #86939e;


$color-Teal700: #00796B;
$color-Blue600: #1E88E5;
$color-Teal500: #009688;
$color-LightGreen700: #689F38;
$color-Grey900: #212121;
$color-Green600: #43a047;
$color-Green700: #388e3c;
$color-Teal: #00796b;

$color-il-rp: #1e88e5;
$color-aksent: #00897b;
$color-lynia: #5e35b1;
$color-monarostone: #009d86;
$color-rustik: #3949ab;
$color-planc: #00acc1;
$color-ashlr: #43a047;


$icons-layout:smart;
$grid:30px;
