@import "compass/css3";

@import "compass/utilities/sprites";

@import "global/common";
@import "fontface";
@import "variables";
@import "mixin";
@import "reset";

/* global */
@import "global/retina-sprites";
//@import "global/retina-background-image";

body{
    font-family: $font-regular;
    font-size: 16px;
    line-height: 1.2;
    color: $color-Grey900;
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;
    @include tablet{
        font-size: 18px;
    }
}

h1, h2, h3, h4, h5, h6, b, strong{
    //font-weight: 500;
}

.site-container{
    //min-width: 1164px;
}

.clearfix{
    @include clearfix;
}

.container{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    @include desktop{
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* partials */
@import "partials/rail_menu";
@import "partials/header";
@import "partials/footer";
@import "partials/form";
//@import "partials/history";

//@import "animate";

/* plugins */

/* page */
@import "pages/slick";
@import "pages/page";
@import "pages/page_builder";
@import "pages/blog";
@import "pages/template";
